@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/play-v19-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/play-v19-latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-cyrillic_latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-cyrillic_latin-700.woff2") format("woff2");
}

:root {
  --color-primary-light: #ffffff;
  --color-primary-brand: #2b7fff;
  --color-primary-dark: #011c44;
  --color-secondary-light: #747272;
  --color-secondary-dark: #4a4a4a;
  --color-secondary-brand: #011f4a;
  --color-secondary-gold: #ffd02b;
}

/* BASE */
body {
  color: var(--color-primary-dark);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.7;
}

address {
  font-style: normal;
}
ul {
  list-style: none;
}

p .accent {
  font-weight: 600;
}

/* Button */
.button-primary {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  color: var(--color-primary-light);
  border-radius: 32px;
  background-color: var(--color-primary-brand);
  border-color: transparent;
  cursor: pointer;
}

.button-primary:hover {
  color: var(--color-primary-dark);
  background-color: transparent;
  box-sizing: border-box;
  border: 2px solid var(--color-primary-brand);
}

/* Link */
.header-link {
  text-decoration: none;
  color: var(--color-primary-dark);
  font-size: 18px;
  line-height: 1.2;
}
.footer-link {
  text-decoration: none;
  color: var(--color-primary-light);
  font-size: 16px;
  line-height: 1.2;
}

.header-link:hover,
.footer-link:hover {
  color: var(--color-primary-brand);
  font-weight: 700;
}

/* Hero section */
.hero-title {
  color: var(--color-primary-brand);
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-size: 140px;
  line-height: 0.8;
  text-align: left;
  text-transform: capitalize;
}

.hero-section .hero-text {
  text-align: left;
  line-height: 1.2;
}
.hero-section .button-text {
  font-size: 12px;
  text-align: left;
}

/* Section title */

.section-title {
  font-weight: 700;
  font-size: 64px;
  text-align: center;
  line-height: 1.15;
}
.section-title .accent {
  color: var(--color-primary-brand);
}

.section-title .capitalize {
  text-transform: capitalize;
}
/* Information section */

.information-text {
  font-size: 22px;
  line-height: 1.7;
}

.information-text .brand {
  font-weight: 600;
  text-transform: capitalize;
}

/* Advantages section */

.advantages-item {
  line-height: 1.3;
  text-align: center;
}

/* Procedures section */

.procedures-title {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.2;
}
/* Footer */
footer {
  background-color: #011f4a;
} /*для удобства*/

.footer-address {
  color: var(--color-primary-light);
  font-size: 16px;
  line-height: 1.2;
}

.footer-address:hover {
  color: var(--color-primary-brand);
}

.address-link {
  color: var(--color-primary-light);
  text-decoration: none;
}
.address-link:hover {
  color: var(--color-primary-brand);
}

.address-copyright {
  color: var(--color-secondary-light);
  font-size: 13px;
}
